---
import {
    getLocalizedStaticPaths,
    localizedContentPath,
} from "../../i18n/utils";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection, getEntry, render } from "astro:content";

export const getStaticPaths = getLocalizedStaticPaths;

const page = await getEntry("pages", localizedContentPath(Astro.url, "about"));
const { Content } = await render(page!);

const sections = await getCollection("sections", ({ id }) =>
    id.includes("about/sections/"),
);
---

<style>
    figure {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: var(--space-lg);

        img {
            min-width: 20rem;
            width: 30%;
        }

        figcaption {
            flex: 1;

            ul {
                li {
                    margin-bottom: var(--space-sm);
                }
            }
        }
    }

    section:nth-child(2n) {
        img {
            order: 2;
        }
    }
</style>

<BaseLayout pageTitle={page?.data.title ?? ""}>
    <Content />

    {
        sections.map(async (section) => {
            const { Content } = await render(section!);

            return (
                <section slot="sections">
                    <figure>
                        <img src={section!.data.image!.src} alt="Ronja" />
                        <figcaption>
                            <Content />
                        </figcaption>
                    </figure>
                </section>
            );
        })
    }
</BaseLayout>
