---
import { Image } from "astro:assets";
import { getLocalizedStaticPaths } from "../../i18n/utils";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection, render } from "astro:content";

export const getStaticPaths = async () => {
    const pages = await getCollection("pages", ({ id }) =>
        id.endsWith("/about"),
    );

    const sections = await getCollection("sections", ({ id }) =>
        id.includes("about/sections/"),
    );

    return getLocalizedStaticPaths({ page: pages }, { sections });
};

const { page, sections } = Astro.props;

const { Content } = await render(page!);
---

<style>
    figure {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: var(--space-lg);

        img {
            min-width: 20rem;
            width: 30%;
        }

        figcaption {
            flex: 1;

            ul {
                li {
                    margin-bottom: var(--space-sm);
                }
            }
        }
    }

    section:nth-child(2n) {
        img {
            order: 2;
        }
    }
</style>

<BaseLayout pageTitle={page?.data.title ?? ""}>
    <Content />

    {
        sections?.map(async (section) => {
            const { Content } = await render(section!);

            return (
                <section slot="sections">
                    <figure>
                        <Image
                            src={section!.data.image!}
                            alt={section.data.heading!}
                        />
                        <figcaption>
                            <Content />
                        </figcaption>
                    </figure>
                </section>
            );
        })
    }
</BaseLayout>
