---
import { getCollection, render } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Flavor from "../../components/Flavor.astro";
import OffsetCircleGrid from "../../components/OffsetCircleGrid.astro";
import { getLocalizedStaticPaths } from "../../i18n/utils";

export const getStaticPaths = async () => {
	const pages = await getCollection("pages", ({ id }) =>
		id.endsWith("assortment"),
	);

	return getLocalizedStaticPaths({ page: pages });
};

const flavors = await getCollection("flavors");

const { page } = Astro.props;

const { Content } = await render(page!);
---

<style>
	.flavors {
		margin-block: var(--space-md);
	}
</style>

<BaseLayout pageTitle="Sortiment">
	<Content />

	<div class="flavors">
		<OffsetCircleGrid>
			{flavors?.map(({ data }) => <Flavor flavor={data} />)}
		</OffsetCircleGrid>
	</div>
</BaseLayout>
