---
import { getCollection, render } from "astro:content";
import NewsGrid from "../../components/NewsGrid.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getLocalizedStaticPaths } from "../../i18n/utils";

export const getStaticPaths = async () => {
    const pages = await getCollection("pages", ({ id }) => id.endsWith("news"));

    const news = (
        await getCollection("news", ({ data }) => data.pubDate <= new Date())
    ).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

    return getLocalizedStaticPaths({ page: pages }, { news });
};

const { page, news } = Astro.props;

const { Content } = await render(page!);
---

<BaseLayout pageTitle={page?.data.title!}>
    <Content />

    <section>
        <NewsGrid news={news ?? []} />
    </section>
</BaseLayout>
