---

---

<style>
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 1rem;
        background-color: #231f20;
    }

    li {
        list-style: none;
        display: flex;
        gap: 1rem;

        a {
            color: white;
        }
    }
</style>

<footer>
    <ul>
        <li>
            <img src="" alt="Instagram icon" />
            <a href="#">@Ronkies</a>
        </li>
        <li>
            <img src="" alt="Facebook icon " />
            <a href="#">@Ronkies</a>
        </li>
    </ul>

    <ul>
        <li>
            <img src="" alt="Phone icon" />
            <a href="tel:+">+41...</a>
        </li>
        <li>
            <img src="" alt="Email icon" />
            <a href="mailto:blabla@ronkies.ch">blabla@ronkies.ch</a>
        </li>
    </ul>
</footer>
