---
import {
    IconBrandFacebook,
    IconBrandInstagram,
    IconMail,
    IconPhone,
} from "@tabler/icons-react";
---

<style>
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 1rem;
        background-color: var(--surface);
    }

    li {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: var(--on-surface);

        a {
            color: var(--on-surface);
        }
    }
</style>

<footer>
    <ul>
        <li>
            <!-- <img src="" alt="Instagram icon" /> -->
            <IconBrandInstagram />
            <a href="#">@Ronkies</a>
        </li>
        <li>
            <!-- <img src="" alt="Facebook icon " /> -->
            <IconBrandFacebook />
            <a href="#">@Ronkies</a>
        </li>
    </ul>

    <ul>
        <li>
            <IconPhone />
            <a href="tel:+">+41...</a>
        </li>
        <li>
            <IconMail />
            <a href="mailto:glace@ronkies.ch">glace@ronkies.ch</a>
        </li>
    </ul>
</footer>
