---
import { Icon } from "astro-icon/components";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<style>
    footer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        gap: var(--space-lg);
        padding: var(--space-lg) var(--space-xl);
        background-color: var(--surface);
    }

    ul {
        display: grid;
        grid-template-columns: min-content 1fr;
        grid-template-rows: subgrid;
        grid-row: span 3;
        gap: var(--space-sm);
    }

    h3 {
        grid-column: span 2;
        color: var(--on-surface);
        margin-bottom: var(--space-sm);
    }

    li {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: span 2;
        align-items: center;
        list-style: none;

        gap: 0.5rem;
        color: var(--on-surface);

        a {
            color: var(--on-surface);
        }
    }
</style>

<footer>
    <ul>
        <h3>{t("footer.socialMedia")}</h3>
        <li>
            <Icon name="tabler:brand-instagram" />
            <a href="https://www.instagram.com/ronkies_original/"
                >@ronkies_original</a
            >
        </li>
    </ul>

    <ul>
        <h3>{t("footer.contactUs")}</h3>
        <li>
            <Icon name="tabler:mail" />
            <a href="mailto:glace@ronkies.ch">glace@ronkies.ch</a>
        </li>
    </ul>

    <ul>
        <h3>{t("footer.address")}</h3>
        <li>
            <Icon name="tabler:map-pin" />
            <a href="https://maps.app.goo.gl/5Mv3pBSrpfEtLTYM8">
                Bächerwiesstrasse 7
            </a>
        </li>
        <li>
            <div></div>
            <a href="https://maps.app.goo.gl/5Mv3pBSrpfEtLTYM8">
                8196 Wil ZH
            </a>
        </li>
    </ul>
</footer>
