---
import logo from "../../assets/logo.png";

import Link from "../Link.astro";
import LanguagePicker from "./LanguagePicker.astro";
import Navigation from "./Navigation.astro";
---

<style>
    header {
        --corner-height: 10rem;

        margin-bottom: calc(var(--corner-height) / 2);

        .content {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: var(--space-md);
            height: 8rem;
            align-items: center;
            padding: var(--space-md) 8rem;
            padding-left: var(--space-xl);
            background-color: #231f20;
            border-bottom-right-radius: 8rem;
            position: relative;

            img {
                height: 3rem;
                width: auto;
            }
        }

        svg {
            position: absolute;
            width: 50%;
            height: var(--corner-height);
        }

        @media (width < 800px) {
            --corner-height: 5rem;

            .content {
                border-bottom-right-radius: 0;
            }
        }

        @media (width < 500px) {
            --corner-height: 3rem;

            .content {
                padding-inline: 2rem;
            }
        }
    }
</style>

<header>
    <div class="content">
        <Link href="">
            <img src={logo.src} alt="Ronkies Logo" />
        </Link>
        <Navigation />
        <LanguagePicker />
    </div>

    <svg
        viewBox="0 0 100 100"
        preserveAspectRatio="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path d="
    M0,0
    H100
    A100,100 0 0 0 0,100
    Z" fill="#231f20"
        ></path>
    </svg>
</header>
