---

---

<style>
    ul {
        list-style: none;
        padding: 0;
        display: flex;
        gap: 1rem;

        li a {
            color: var(--on-surface);
        }
    }
</style>

<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/assortment/">Sortiment</a></li>
    <li><a href="/about/">Über uns</a></li>
    <li><a href="/blog/">Blog</a></li>
</ul>
