---
import { getCollection } from "astro:content";
import Link from "../Link.astro";
import { getLangFromUrl } from "../../i18n/utils";
import { defaultLocale } from "../../i18n/ui";

const locale = getLangFromUrl(Astro.url);

const allPages = await getCollection("pages", ({ data }) => data.inNavigation);
const defaultLangPages = allPages.filter(
    ({ data }) => data.locale === defaultLocale,
);

const localizedPages = defaultLangPages.map(
    (defaultPage) =>
        allPages.find(
            ({ data }) =>
                defaultPage.data.translationId === data.translationId &&
                data.locale === locale,
        ) ?? defaultPage,
);
---

<style>
    ul {
        list-style: none;
        padding: 0;
        display: flex;
        gap: 1.5rem;

        li a {
            color: var(--on-surface);
        }

        @media (width < 500px) {
            font-size: 1rem;
        }
    }
</style>

<ul>
    {
        localizedPages.map(({ data, id }) => (
            <li>
                <Link href={`/${id.split("/")[1]}`}>{data.title}</Link>
            </li>
        ))
    }
</ul>
