---
import { getCollection } from "astro:content";
import Link from "../Link.astro";

const pages = await getCollection("pages", ({ data }) => data.inNavigation);
---

<style>
    ul {
        list-style: none;
        padding: 0;
        display: flex;
        gap: 1.5rem;

        li a {
            color: var(--on-surface);
        }

        @media (width < 500px) {
            font-size: 1rem;
        }
    }
</style>

<ul>
    {
        pages.map(({ data, id }) => (
            <li>
                <Link href={`/${id.split("/")[1]}`}>{data.title}</Link>
            </li>
        ))
    }
</ul>
