---
import Link from "../Link.astro";
---

<style>
    ul {
        list-style: none;
        padding: 0;
        display: flex;
        gap: 1.5rem;

        li a {
            color: var(--on-surface);
        }

        @media (width < 500px) {
            font-size: 1rem;
        }
    }
</style>

<ul>
    <li><Link href="/locations">Verkaufsstellen</Link></li>
    <li><Link href="/assortment">Sortiment</Link></li>
    <li><Link href="/about">Über uns</Link></li>
</ul>
