---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getEntry, render } from "astro:content";

const page = await getEntry("pages", "about");
const { Content } = await render(page!);

const ronja = await getEntry("pages", "about/ronja");
const { Content: ContentRonja } = await render(ronja!);

const tom = await getEntry("pages", "about/tom");
const { Content: ContentTom } = await render(tom!);
---

<style>
    figure {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: var(--space-lg);

        img {
            min-width: 20rem;
            width: 30%;
        }

        figcaption {
            flex: 1;

            ul {
                li {
                    margin-bottom: var(--space-sm);
                }
            }
        }
    }
</style>

<BaseLayout pageTitle={page?.data.title ?? ""}>
    <Content />

    <section slot="sections">
        <figure>
            <img src={ronja!.data.image!.src} alt="Ronja" />
            <figcaption>
                <ContentRonja />
            </figcaption>
        </figure>
    </section>

    <section slot="sections">
        <figure>
            <figcaption>
                <ContentTom />
            </figcaption>
            <img src={ronja!.data.image!.src} alt="Tom" />
        </figure>
    </section>
</BaseLayout>
