---
import BaseLayout from "../layouts/BaseLayout.astro";

const allPosts = Object.values(
    import.meta.glob<{ url: string }>("./posts/*.md", { eager: true }),
);
---

<BaseLayout pageTitle="Blog">
    <ul>
        {
            allPosts.map((p) => (
                <li>
                    <a href={p.url}>Post 1</a>
                </li>
            ))
        }
    </ul>
</BaseLayout>
