---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import OffsetCircleGrid from "../components/OffsetCircleGrid.astro";
import Flavor from "../components/Flavor.astro";
import NewsGrid from "../components/NewsGrid.astro";
import Link from "../components/Link.astro";
import { Icon } from "astro-icon/components";

const newFlavors = await getCollection("flavors", ({ data }) => data.new);
const news = (
	await getCollection("news", ({ data }) => data.pubDate <= new Date())
)
	.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
	.slice(0, 3);
---

<style>
	section {
		p {
			margin-bottom: var(--space-lg);
		}

		> a {
			margin-top: var(--space-lg);
		}
	}
</style>

<BaseLayout pageTitle="Glacé aus Leidenschaft">
	{
		newFlavors.length && (
			<section slot="sections">
				<h2>Neue Sorten!</h2>
				<p>Endecke unseren neuen Geschmackserlebnisse.</p>

				<OffsetCircleGrid>
					{newFlavors.map(({ data }) => (
						<Flavor flavor={data} />
					))}
				</OffsetCircleGrid>

				<Link href="/assortment" class="button">
					Alle Sorten durchstöbern{" "}
					<Icon name="tabler:chevron-right" />
				</Link>
			</section>
		)
	}
	<section slot="sections">
		<h2>Neues aus der Eisfabrik</h2>

		<NewsGrid news={news} />

		<Link class="button" href="/news"
			>Mehr News lesen <Icon name="tabler:chevron-right" /></Link
		>
	</section>
</BaseLayout>
