---
import { IconChevronRight } from "@tabler/icons-react";
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import OffsetCircleGrid from "../components/OffsetCircleGrid.astro";
import Flavor from "../components/Flavor.astro";
import NewsGrid from "../components/NewsGrid.astro";

const newFlavors = await getCollection("flavors", ({ data }) => data.new);
const news = (
	await getCollection("news", ({ data }) => data.pubDate <= new Date())
)
	.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
	.slice(0, 3);
---

<style>
	section {
		p {
			margin-bottom: var(--space-lg);
		}

		> a {
			margin-top: var(--space-lg);
		}
	}
</style>

<BaseLayout pageTitle="Glacé aus Leidenschaft">
	{
		newFlavors.length && (
			<section slot="sections">
				<h2>Neue Sorten!</h2>
				<p>Endecke unseren neuen Geschmackserlebnisse.</p>

				<OffsetCircleGrid>
					{newFlavors.map(({ data }) => (
						<Flavor flavor={data} />
					))}
				</OffsetCircleGrid>

				<a href="/assortment" class="button">
					Alle Sorten durchstöbern <IconChevronRight />
				</a>
			</section>
		)
	}
	<section slot="sections">
		<h2>Neues aus der Eisfabrik</h2>

		<NewsGrid news={news} />

		<a class="button" href="/news">Mehr News lesen <IconChevronRight /></a>
	</section>
</BaseLayout>
