---
import type { InferEntrySchema } from "astro:content";
import { getLangFromUrl, translateField, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

type Props = {
    flavor: InferEntrySchema<"flavors">;
};
const { flavor } = Astro.props;
---

<style define:vars={{ color: flavor.color }}>
    .flavor {
        overflow: visible;

        &.flipped {
            .flavor-inner {
                transform: rotateY(180deg);
                scale: 120%;
                z-index: 2;
            }
        }

        &:not(.flipped) {
            .flavor-inner:hover {
                scale: 110%;
            }
        }

        .flavor-inner {
            cursor: pointer;
            position: relative;
            width: 100%;
            height: 100%;
            transition:
                transform 0.8s,
                scale 0.2s;
            transform-style: preserve-3d;
            backface-visibility: hidden;
        }

        .flavor-back,
        .flavor-front {
            background-color: var(--surface);
            border-radius: 50%;
            border: 5px solid var(--color);

            position: absolute;
            padding: var(--space-md);
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: var(--space-md);

            h3 {
                font-size: 0.8rem;
                margin-bottom: 0;
                font-weight: 500;
                color: var(--on-surface);
            }

            p {
                font-size: 0.8rem;
            }
        }

        .flavor-back {
            transform: rotateY(180deg);

            h2 {
                color: var(--color);
                font-size: 0.8rem;
                margin-bottom: 0.2rem;
            }

            p {
                font-size: 0.7rem;
                color: var(--on-surface);
                padding-inline: 1.5rem;
            }
        }

        .flavor-front {
            padding-bottom: 1.5rem;
            text-align: center;

            h2 {
                text-transform: uppercase;
                font-size: 1rem;
                margin-bottom: 0.2rem;
                color: var(--color);
            }

            img {
                height: 100%;
                width: auto;
            }
        }
    }
</style>

<div
    class="flavor"
    x-bind:class="flipped ? 'flipped' : ''"
    x-data="{ flipped: false }"
    @click="flipped = ! flipped"
>
    <div class="flavor-inner">
        <div class="flavor-front">
            <img src={flavor.icon.src} alt={flavor.alias} />
            <div>
                <h2>{flavor.alias}</h2>
                <h3>{translateField(flavor.label, Astro.url)}</h3>
            </div>
        </div>
        <div class="flavor-back">
            <h2>{t("ingredients")}</h2>
            <p>
                {translateField(flavor.ingredients, Astro.url)}
            </p>
        </div>
    </div>
</div>
