---

---

<style>
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 1rem;
    }

    li {
        list-style: none;
        display: flex;
        gap: 1rem;
    }
</style>

<footer>
    <ul>
        <li>
            <img src="" alt="Instagram icon" />
            <p>Instagram</p>
        </li>
        <li>
            <img src="" alt="Facebook icon " />
            <p>Facebook</p>
        </li>
    </ul>

    <ul>
        <li>
            <img src="" alt="Phone icon" />
            <p><a href="tel:+">+41...</a></p>
        </li>
        <li>
            <img src="" alt="Email icon" />
            <p><a href="mailto:blabla@ronkies.ch">blabla@ronkies.ch</a></p>
        </li>
    </ul>
</footer>
