---
type Props = {
    href: string;
    class?: string;
};

const { href, class: className } = Astro.props;

console.log(import.meta.env.BASE_URL);
---

<a class={className} href={import.meta.env.BASE_URL + href}>
    <slot />
</a>
