---
import { type CollectionEntry } from "astro:content";
import { getExcerpt } from "../helper/html";
import Link from "./Link.astro";

type Props = {
    news: CollectionEntry<"news">;
};
const { news } = Astro.props;
---

<style>
    .news {
        display: grid;
        grid-template-rows: subgrid;
        grid-row: span 3;
        padding: var(--space-lg);

        p {
            margin: 0;
        }

        ul {
            li {
                list-style: disc;
            }
            margin-left: 1rem;
        }

        a {
            margin-left: auto;
        }
    }
</style>

<article class="news">
    <h3>{news.data.title}</h3>
    {news.rendered && getExcerpt(news.rendered.html)}

    <Link class="button" href={`/news/${news.id}`}>Mehr erfahren</Link>
</article>
