---
import { type CollectionEntry } from "astro:content";
import { getExcerpt } from "../helper/html";
import Link from "./Link.astro";
import { getLangFromUrl, translateField, useTranslations } from "../i18n/utils";
import { getEntry } from "astro:content";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

type Props = {
    news: CollectionEntry<"news">;
};
const { news } = Astro.props;

const contentRef = translateField(news.data.content, Astro.url);
const newsContent = await getEntry(contentRef);
---

<style>
    .news {
        display: grid;
        grid-template-rows: subgrid;
        grid-row: span 3;
        padding: var(--space-lg);

        p {
            margin: 0;
        }

        ul {
            li {
                list-style: disc;
            }
            margin-left: 1rem;
        }

        a {
            margin-left: auto;
        }
    }
</style>

<article class="news">
    <h3>{newsContent.data.title}</h3>
    {newsContent.rendered && getExcerpt(newsContent.rendered.html)}

    <Link class="button" href={`/news/${news.id}`}>{t("learnMore")}</Link>
</article>
