---
import Footer from "../components/layout/Footer.astro";
import Header from "../components/layout/Header.astro";
import "../styles/global.css";

type Props = {
    pageTitle: string;
};

const { pageTitle } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Ronkies - {pageTitle}</title>

        <style>
            html {
                height: 100%;
            }
            body {
                display: flex;
                flex-direction: column;
                height: 100%;
            }

            main {
                margin: 1rem auto;
                flex: 1;
                width: 70vw;

                @media (width <= 800px) {
                    width: 80vw;
                }

                @media (width <= 500px) {
                    width: 90vw;
                }

                @media (width <= 400px) {
                    width: 92vw;
                }
            }
        </style>
    </head>
    <body>
        <Header />
        <main>
            <h1>{pageTitle}</h1>
            <slot />
        </main>
        <Footer />
    </body>
</html>
