---
import Footer from "../components/layout/Footer.astro";
import Header from "../components/layout/Header.astro";
import "../styles/global.css";

type Props = {
    pageTitle: string;
};

const { pageTitle } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Ronkies - {pageTitle}</title>

        <style is:global>
            :root {
                --background: white;
                --background-variant: #fff7ec;
                --on-background: black;
                --surface: #231f20;
                --on-surface: #ffecd4;

                --space-sm: 0.5rem;
                --space-md: 1rem;
                --space-lg: 2rem;
            }

            html {
                height: 100%;
            }
            body {
                display: flex;
                flex-direction: column;
                height: 100%;
                color: var(--on-background);
                background-color: var(--background);
            }

            main {
                flex: 1;
            }

            .wrapper + section,
            .wrapper {
                margin: 1rem auto;
                padding-inline: 15vw;

                @media (width <= 800px) {
                    padding-inline: 10vw;
                }

                @media (width <= 500px) {
                    padding-inline: 5vw;
                }

                @media (width <= 400px) {
                    padding-inline: 4vw;
                }
            }

            h1 {
                margin-bottom: 3rem;
            }
        </style>
    </head>
    <body>
        <Header />
        <main>
            <div class="wrapper">
                <h1>{pageTitle}</h1>
                <slot />
            </div>
            <slot name="sections" />
        </main>
        <Footer />
    </body>
</html>
