---
import Footer from "../components/layout/Footer.astro";
import Header from "../components/layout/Header.astro";
import "../styles/global.css";

type Props = {
    pageTitle: string;
};

const { pageTitle } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <!-- <link rel="icon" type="image/svg+xml" href="favicon.svg" /> -->
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Ronkies - {pageTitle}</title>

        <style is:global>
            :root {
                --background: white;
                --background-variant: #fff7ec;
                --on-background: black;
                --surface: #231f20;
                --on-surface: #ffecd4;

                --space-xs: 0.2rem;
                --space-sm: 0.5rem;
                --space-md: 1rem;
                --space-lg: 2rem;
                --space-xl: 4rem;
            }

            html {
                height: 100%;
            }
            body {
                display: flex;
                flex-direction: column;
                height: 100%;
                color: var(--on-background);
                background-color: var(--background);
            }

            main {
                flex: 1;
            }

            section {
                padding-block: var(--space-lg);

                article {
                    background-color: var(--background-variant);
                }

                &:nth-of-type(even) {
                    background-color: var(--background-variant);

                    article {
                        background-color: var(--background);
                    }
                }
            }

            .wrapper ~ section,
            .wrapper {
                margin-top: 1rem;
                padding-inline: 15vw;

                @media (width <= 800px) {
                    padding-inline: 10vw;
                }

                @media (width <= 500px) {
                    padding-inline: 5vw;
                }

                @media (width <= 400px) {
                    padding-inline: 4vw;
                }
            }

            h1 {
                font-size: 3rem;
                margin-bottom: 3rem;
                text-transform: uppercase;

                @media (width <= 800px) {
                    font-size: 2rem;
                }
            }

            a {
                color: var(--surface);
            }

            a.button {
                display: inline-flex;
                align-items: center;
                gap: var(--space-sm);
                padding: var(--space-md) var(--space-md);
                color: var(--on-background);
                border: 2px solid var(--on-background);

                transition: all 0.2s ease;

                &:hover {
                    background-color: var(--surface);
                    color: var(--on-surface);
                    text-decoration: none;
                }
            }
        </style>
    </head>
    <body>
        <Header />
        <main>
            <div class="wrapper">
                <h1>{pageTitle}</h1>
                <slot />
            </div>
            <slot name="sections" />
        </main>
        <Footer />
    </body>
</html>
