---
import { getCollection, render } from "astro:content";
import BaseLayout from "../../../layouts/BaseLayout.astro";
import {
    getLangFromUrl,
    translateField,
    useTranslations,
} from "../../../i18n/utils";
import { getEntry } from "astro:content";
import { locales } from "../../../i18n/ui";

export async function getStaticPaths() {
    const news = await getCollection("news");

    return ["", ...locales].flatMap((locale) =>
        news?.map((n) => ({
            params: { id: n.id, locale },
            props: { news: n },
        })),
    );
}

const { news } = Astro.props;

const contentRef = translateField(news.data.content, Astro.url);
const newsContent = await getEntry(contentRef);
const { Content } = await render(newsContent);

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<BaseLayout pageTitle={newsContent.data.title}>
    <p>{t("news.pubDate")} {news.data.pubDate.toLocaleDateString()}</p>
    <section>
        <Content />
    </section>
</BaseLayout>
